<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/silex/resources/css/bootstrap.min.css" />
        <title>Nástroje, návody a utility</title>
    </head>
    <body>
        {% block content %}
        {% endblock %}

            <script src="/silex/resources/js/jquery-1.10.2.min.js"></script>
            <script src="/silex/resources/js/bootstrap.min.js"></script>
            <script src="/silex/resources/js/jquery.execButton.js"></script>
            <script src="/silex/resources/js/jquery.sendForm.js"></script>

        {% block javascript %}
        {% endblock %}
        </body>
    </html>