<nav class="navbar-default navbar-static-side" role="navigation" >
	<div class="sidebar-collapse">
		{*top menu level*}
		<ul class="nav" id="side-menu">
			{foreach $items as $item}
			<li class="{ifCurrent $item->getLink()}active{/ifCurrent}">
				<a href="{if $item->getLink() !== ''}{plink $item->getLink()}{else}#{/if}"><i class="{$item->getClass()}"></i>{$item->getLabel()}<span class="fa arrow"></span></a>
				{*second menu level*}
				{if $item->hasChildren()}
				<ul class="nav nav-second-level">
					<li class="{ifCurrent $item->getLink()}active{/ifCurrent}" n:foreach="$item->getChildern() as $item2">
						<a href="{if $item2->getLink() !== ''}{plink $item2->getLink()}{else}#{/if}">{$item2->getLabel()}</a>
					</li>
				</ul>
				{/if}
			</li>
			{/foreach}
		</ul>
		<!-- /#side-menu -->
	</div>
	<!-- /.sidebar-collapse -->
</nav>
<!-- /.navbar-static-side -->