{block head}
<script src="{$basePath}/js/netteForms.js"></script>
<link rel="stylesheet" media="screen" href="{$basePath}/css/form.css" type="text/css" />
<title n:block="title" >{_}nová role uživatele{/_}</title>
{/block}
{block content}

<div class="container">
	{control usersTabs}
	{control userRoleForm}

</div>

{block scripts}

{/block}