{block head}
<script src="{$basePath}/js/netteForms.js"></script>
<link rel="stylesheet" media="screen" href="{$basePath}/css/form.css" type="text/css" />
<title n:block="title" >{_}přihlášení uživatele{/_}</title>
{/block}

{block content}

{control login}

{/block}
{block scripts}
<script type="text/javascript" src="{$basePath}/js/live-form-validation.js"></script>
{/block}


